$background-color: #ebeff9;
$border-color: #808080;
$dark-blue: #27408b;
$font-color: #e6f4fc;
$white: #fff;
$blue-scale-1: #31708b;
$blue-scale-2: #3e8eb1;
$blue-scale-3: #5ba6c7;
$blue-scale-4: #80bbd5;
$blue-scale-5: #a6d0e2;


//colors
