body {
  background-color: $background-color;
}

.navbar {
  background-color: $background-color1;
  position: relative;
}

.nav-buttons {
  text-align: center;
}

.h1 {
  color: $font-color;
}

.square {
  border: solid 5px;
  border-color: $border-color;
  display: table-cell;
  height: 150px;
  width: 150px;
}

.gameboard {
  margin: auto;
  margin-top: 90px;
  padding: 10px;
  width: 40%;
}

.player {
  font-size: 70px;
  text-align: center;
}
