body {
  background-color: $background-color;
}

.navbar {
  background-color: $dark-blue;
}

.nav-buttons {
  margin: 0 auto;
  text-align: center;
}

.h1 {
  color: $font-color;
}

.square {
  border: solid 5px;
  border-color: $border-color;
  display: table-cell;
  height: 150px;
  width: 150px;
}

.gameboard {
  margin: 0 auto;
  margin-top: 150px;
  width: 40%;
}

//for player icon
.player {
  font-size: 70px;
  text-align: center;
}
