.navbar {
  background-color: $background-color1;
  position: relative;
}

.nav-buttons {
  margin-left: 50%;
  position: absolute;
}

.h1 {
  color: $font-color;
}

.square {
  border: solid 5px;
  border-color: $border-color;
  display: table-cell;
  height: 150px;
  width: 150px;
}

.gameboard {
  margin-left: 200px;
  margin-top: 200px;
}
